.chat
  .chat--header
    .header-left
      .chat-group-name
        = @group.name
      .chat-group-member
        %p
          Member：
        %ul.member-lists
          - @group.users.each do |user|
            %li.member-list<
              = user.name
    .header-right
      =link_to edit_group_path(@group), class: "edit__btn" do
        Edit
  %hr.chat--border
  .chat--messages
    = render partial: 'message', collection: @messages
  .chat--footer
    = form_for [@group, @message], html: { id:"form" } do |f|
      = f.text_field :body, id: "form--text-input", placeholder: "type a message"
      %label#form--file-select-icon<>
        %span<>
          = fa_icon 'image'
        = f.file_field :image, id: "form--file-select-icon__display"
      = f.submit "Send", id: "form--send-button"