.chat
  .chat--header
    .header-left
      .chat-group-name
        グループ名
      .chat-group-member
        %p
          Member：
        %ul.member-lists
          %li.member-list<
            Aさん
          %li.member-list<
            Bさん
    .header-right
      =link_to "/", class: "edit__btn" do
        Edit
  %hr.chat--border
  .chat--messages
    .message
      .message--title
        %span.message--title__post-user<>
          Aさん
        %span.message--title__post-date<>
          2019/6/30(Sun) 10:15:30
      .message--text
        こんにちは！今日一緒にランチ行きますか？
    .message
      .message--title
        %span.message--title__post-user<>
          Bさん
        %span.message--title__post-date<>
          2019/6/30(Sun) 10:17:10
      .message--text
        いいですね！どこに行きましょう？
  .chat--footer
    = form_for [@group, @message], html: { class:"form" } do |f|
      = f.text_field :body, class: "form--text-input", placeholder: "type a message"
      %label.form--file-select-icon<>
        %span<>
          = fa_icon 'image'
        = f.file_field :image, class: "form--file-select-icon__display"
      = f.submit "Send", class: "form--send-button"