!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .Header
      .Header-infomation
        グループを作成しました
    .Left-Sidebar
      .Sidebar-Header
        .Sidebar-Header__user
          ユーザー名
        .Sidebar-Header__btns
          = link_to "/", class: "Sidebar-Header--btn" do
            %span<>
              = fa_icon 'edit'
          = link_to "/", class: "Sidebar-Header--btn" do
            %span<>
              = fa_icon 'gear'
      .Sidebar-Contents
        .ChatGroup
          .ChatGroup__name
            グループ名1
          .ChatGroup__message
            初回メッセージ1
        .ChatGroup
          .ChatGroup__name
            グループ名2
          .ChatGroup__message
            初回メッセージ2
    = yield
